<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/dice/6.png" type="image/x-icon" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>DiceHeads.js | In Game</title>
  </head>
  <body>
    <main>
      
      <header id="readyButtonHeader"></header>
      <section id="playingField">
        <div  class="hidden endGameBanner" id="endGameBanner1"> <h1>Congratulations You've won this bluff</h1> <img src="https://media.giphy.com/media/l2Je8BWoV6mLoed0s/source.gif" alt=""></div>
        <div  class="hidden endGameBanner" id="endGameBanner2"> <h1>Uh Oh, you lost this bluff</h1> <img src="https://media.giphy.com/media/l2JdSVE0vafARCeyI/giphy.gif" alt=""></div>
        <div  class="hidden endGameBanner" id="endGameBanner3"> <h1>Someone called a bluff, you are still in the game</h1> <img src="https://media.giphy.com/media/xT5LMJSk69MGw5vqEg/giphy.gif" alt=""></div>
        <section id="opponents"></section>

        <section id="currentBet">
          <div id="currentBetDice"></div>
        </section>
      </section>

      <section class="currentUser">
        <fieldset id="inputDisplayNameFieldSet">
          <div>
            <h1>My user ID:</h1>
            <p id="myID"></p>

          </div>
          <img
            id="currentUserIcon"
            src="./assets/userIcon2.png"
            alt=""
            srcset=""
          />
          <input
            type="text"
            placeholder="Your Display Name"
            id="inputDisplayName"
          />

          <button id="confirmUsernameBtn">Confirm Username</button>
        </fieldset>
        <fieldset>
  
          <div id="myDice">
          

            <!-- <img class="myDice dice" src="./assets/dice/1.png" alt="" />
            <img class="myDice dice" src="./assets/dice/2.png" alt="" />
            <img class="myDice dice" src="./assets/dice/3.jpg" alt="" />
            <img class="myDice dice" src="./assets/dice/4.png" alt="" />
            <img class="myDice dice" src="./assets/dice/5.png" alt="" />
            <img class="myDice dice" src="./assets/dice/6.png" alt="" /> -->
          </fieldset>
        </div>

        <fieldset>
          

          <input type="button" value="BLUFF" class="playBtn hidden" id="bluffBtn" />

          <fieldset id="playerTurnInput" class="hidden">
            
            <div class="hidden">
              <label for="diceHowMany"
                >How Many?<input id="diceHowMany" type="number"
              /></label>

              <p>Which dice?</p>
              <label for="radioNumberInput1"  class="labelRadioNumberInput"
              ><input id="radioNumberInput1" type="radio" name="radioNumberInput" data-name="1"/>  <img class=" dice" src="./assets/dice/1.png" alt="" />
                </label 
                ><label for="radioNumberInput2" class="labelRadioNumberInput"
                ><input id="radioNumberInput2" type="radio" name="radioNumberInput" data-name="2"/>  <img class=" dice" src="./assets/dice/2.png" alt="" />
                </label
                ><label for="radioNumberInput3" class="labelRadioNumberInput"
                ><input id="radioNumberInput3" type="radio" name="radioNumberInput" data-name="3"/>  <img class=" dice" src="./assets/dice/3.png" alt="" />
                </label
                ><label for="radioNumberInput4" class="labelRadioNumberInput"
                ><input id="radioNumberInput4" type="radio" name="radioNumberInput"data-name="4"/>  <img class=" dice" src="./assets/dice/4.png" alt="" />
                </label
                ><label for="radioNumberInput5" class="labelRadioNumberInput"
                ><input id="radioNumberInput5" type="radio" name="radioNumberInput"data-name="5"/>  <img class=" dice" src="./assets/dice/5.png" alt="" />
                </label
                ><label for="radioNumberInput6" class="labelRadioNumberInput"
                ><input id="radioNumberInput6" type="radio"name="radioNumberInput" data-name="6"/>  <img class=" dice" src="./assets/dice/6.png" alt="" />
                </label
              >
            </label>
            <input type="button" value="CALL" class="playBtn" id="callBtn" />
          </div>
          </fieldset>
        </fieldset>
      </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/gameMain.js" type="module"></script>
  </body>
</html>
