<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/home.css" />
    <link rel="stylesheet" href="./styles/game.css">
    <title>DiceHeads.js | Home</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %> 
    <header>
   
      <h3>Play you favourite dice game online!</h3>
      <p>YES, no more hassle of not having enough dice.</p>
      <img
        id="homeHeader"
        src="https://media.giphy.com/media/l2JdUMnCDg6qs368g/source.gif"
        alt="Homer Simpson Whohoo"
      />
      <h2><a href="/game">go to game</a></h2>
    </header>
  </body>
</html>
