<aside>
    <header>
      <div>
        <h1>Diceheads.js</h1>
      
      </div>
      <ul>
        <% if(route !== '/'){%>
        <li><a href="/">HOME</a></li>
        <% }%>
      </ul>
  
    </header>
  </aside>